<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <h1>Forma 1</h1><p>Pershkrimi 1</p><form><div class='row'><div class='col-md-6'><label for='Emri / Name'>Filan</label>
        <input type='text' id='Emri / Name' name='Emri / Name' required /></div><div class='col-md-6'><label for='Mbiemri / SurName'>Fisteku</label>
        <input type='text' id='Mbiemri / SurName' name='Mbiemri / SurName' required /></div></div><div class='row'><div class='col-md-12'><label for='Email / Email'>email@gmail.com</label>
        <input type='text' id='Email / Email' name='Email / Email' required /></div></div><div class='row'><div class='col-md-12'><label for='Gender / Gender'>gender@gmail.com</label><select id='Gender / Gender' name='Gender / Gender' required><option value='' disabled selected>Select gender@gmail.com</option><option value='Male'>Male</option><option value='Female'>Female</option><option value='Other'>Other</option></select></div><div class='col-md-12'><label for='Gender / Gender'>gender@gmail.com</label>
                <div>
                    <input type='radio' id='Gender / Gender_Deri 50' name='Gender / Gender' value='Deri 50' />
                    <label for='Gender / Gender_Deri 50'>Deri 50</label>
                </div>
                <div>
                    <input type='radio' id='Gender / Gender_Deri 250' name='Gender / Gender' value='Deri 250' />
                    <label for='Gender / Gender_Deri 250'>Deri 250</label>
                </div>
                <div>
                    <input type='radio' id='Gender / Gender_Mbi 250' name='Gender / Gender' value='Mbi 250' />
                    <label for='Gender / Gender_Mbi 250'>Mbi 250</label>
                </div></div></div><button type='submit'>Submit</button></form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>